@model WebContent
<link href="~/Content/themes/web/css/global.css" rel="stylesheet" />

@{
    var item = Model;
    var webmodule = item.WebModule;
    var urlcat = webmodule.URL;
    var background = String.IsNullOrEmpty(webmodule.Image) ? "/content/themes/web/img/bg-title1.png" : webmodule.Image;
    var codecolor = String.IsNullOrEmpty(webmodule.CodeColor) ? "#b200b2" : webmodule.CodeColor;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
    var url = Url.Action("Detail", "Home", new
        {
            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
            id = item.ID,
            m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
            m_id = webmodule.ID,
            area = ""
        });
    TempData["Title"] = Utility.UseStringHasValue(item.SeoTitle, item.Title);
    TempData["Description"] = Utility.UseStringHasValue(item.MetaDescription, item.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(item.MetaKeywords, item.SeoTitle);
    TempData["Image"] = ApplicationService.Domain + Model.Image;
    TempData["URL"] = ApplicationService.Domain + url;
    TempData["Cat"] = webmodule.Title;
}


<h1><span>@item.Title</span></h1>
<div class="description_box cat_desc">
    @Html.Raw(HttpUtility.HtmlDecode(item.Body))
</div>
