@model IEnumerable<WebModels.WebSlide>
@{
    var contents = new List<List<WebSlide>>();
    var totalPage = (int)Math.Ceiling((double)Model.Count() / 3);
    for (int i = 0; i < totalPage; i++)
    {
        contents.Add(new List<WebSlide>());
    }
    var index = 0;
    foreach (var item in Model)
    {
        if (contents[index].Count() == 3)
        {
            index++;
        }
        contents[index].Add(item);
    }
}

<div class="bxslideb">
    @foreach (var item in contents)
    {
        <div>
            <ul>
                @foreach (var itemsub in item)
                {
                    <li><a href="@itemsub.Link" title="@itemsub.Title"><img src="@itemsub.Image" alt="@itemsub.Title" /></a></li>
                }
            </ul>
        </div>
    }
</div>
<style>
    .bxslideb img {
        width: 300px;
        height: 225px;
    }
    .bx-wrapper .bx-viewport{
        z-index:9999;
    }
</style>