@model IEnumerable<WebModels.Language>
@using System.Threading 
@if (Model != null && Model.Count() > 1) { 
<li class='dropdown language-select'>
    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><img src="/images/flags/@string.Format("{0}.png",Thread.CurrentThread.CurrentUICulture)" alt=""><span>@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToUpper()</span></a>
    <ul class="dropdown-menu pull-right"> 
        @foreach (var item in Model) { 
        <li>
            <a href="/admin/base/changelanguage?lang=@item.ID"><img src="/images/flags/@string.Format("{0}.png",@item.ID)" alt=""><span>@item.Title</span></a>
        </li>
        }
    </ul>
</li>
}