@model string[]
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@if (ViewBag.Tree != null)
{
    using (Html.BeginForm("AdminSitesMapping", "User", new { id = ViewBag.UserId }, FormMethod.Post, new { @class = "form-horizontal fix" }))
    {
        @Html.AntiForgeryToken()
        <div class="control-group">
            <div id="tree-header">
                <span>Chọn Site cho phép truy cập:</span><br />
                <input id="chkAll" type="checkbox" style="margin-left:2%;margin-bottom:5px;" onclick="checkAll(event)" />
                <span style="margin-left:2px;">Chọn tất cả</span>
            </div>
            <div class="controls" style="border: 1px solid #DDDDDD;border-radius: 5px;margin-left: 2%;width: 96%;padding:5px 0;">
                @(Html.Kendo().TreeView()
                .Name("treeview")
                .ExpandAll(true)
                .Checkboxes(checkboxes =>
                    {
                       // checkboxes.CheckChildren(false);
                    })
                .DataTextField("Name")              
                .BindTo((IEnumerable<TreeViewItemModel>)ViewBag.Tree)
                .ItemAction(item =>
                {
                    item.Checked = Model.Contains(item.Id);
                }))
            </div>

        </div>
        <div class="validation-group">
            <div class="controls">
                @Html.ValidationSummary(true, null, new { style = "color:red" })
            </div>
        </div>
        <div class="form-actions">
            <button class="k-button" type="submit">Lưu</button>
            <button class="k-button destroy" type="reset">@WebModels.WebResources.Cancel</button>
        </div>
    }
}

<script>
    $(document).ready(function () {
        top.winsetup("Quyền truy cập Site", 600, 550, true);
    });
    function create_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    function checkAll(e) {
        var checkAll = $(e.target).prop('checked');
        $('input[name="checkedNodes"]').each(function () {
            $(this).prop('checked', checkAll);
        });
    }
</script>