@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", id = webmodule.ID, area = "" });
    }
}



<div class="col-md-6">
    <div class="title-box">
        <a href="@urlcat" title="@webmodule.Title">  @webmodule.Title </a> 
    </div>
    <div class="margin-top-20">
        @foreach (var item in Model)
        {
        <div class="box-item-video">
            <video width="100%" controls height="214">
                <source src="@item.Link" type="video/mp4">

            </video>
        </div>
            @*<iframe width="100%" height="200px" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*@
        }
    </div>
</div>