<script>
    function OnFailure() {
        alert("@Html.Raw(Resources.Common.SendFaulty)");
    }
    function OnSuccess(data, status, xhr) {
        if (data.Success) {
            alert('Cảm ơn bạn đã đăng ký nhận thông tin từ JoyMarkTravel');
            $('#frmnewsletter')[0].reset();
        } else {
            alert(data.Error);
        }
    }
</script>

<div class="letter-form ">
    @using (Ajax.BeginForm("_GetLetter", "Home", new { area = "ContentType" },
                        new AjaxOptions
                        {
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure"
                        }, new { id = "frmnewsletter" }))
{


    <input type="text" placeholder="Email của bạn" name="Email">
            <button type="submit" class="btn btn-warning btn-search">Đăng kí</button>   
}
    @Html.Action("_Body", "WebSimpleContent", new { key = "socical", area ="" })
</div>
