@model IEnumerable<WebModels.WebContent>


<div class="simple-marquee-container">
    <div class="marquee-sibling">
        Tin nổi bật
    </div>
    <div class="marquee">
        <ul class="marquee-content-items">
            @foreach (var item in Model)
            {
                var img = item.Image != null ? item.Image : "/images/no-image.jpg";

                var url = Url.Action("Detail", "Home", new
                {
                    metatitle = item.MetaTitle != null ? item.MetaTitle : "tapchimoitruong",
                    id = item.ID,
                    m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "tapchimoitruong",
                    m_id = item.WebModule.ID,
                    area = ""
                });

                <li><a style="color: #000" href="@url"> @item.Title &nbsp;  <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> </li>

            }
        </ul>
    </div>
</div>