 <div class="">
    <b>Quý khách đặt bánh vui lòng liên hệ: (04) 3333578</b>
    <div class="links-detail">
        <a href="ymsgr:sendim?devi05thanh@yahoo.com.sg&amp;m=Hello.">
            <img src="/Images/yahoo.png">
        </a>
        <a href="skype:devi05thanh?chat">
            <img src="/Images/skype.png">
        </a>
        &nbsp;
        <p>Mr: Hải - (04) 333579</p>
    </div>
    <div class="links-detail">
        <a href="ymsgr:sendim?devi05thanh@yahoo.com.sg&amp;m=Hello.">
            <img src="/Images/yahoo.png">
        </a>
        <a href="skype:devi05thanh?chat">
            <img src="/Images/skype.png">
        </a>
        &nbsp;
        <p>Mr: Hải - (04) 333579</p>
    </div>
</div>