<div class="support">
    <div class="support-online">
        <p class="p1"> Hỗ trợ trực tuyến </p>
        <p class="p2"> Hotline: 043 7805022 </p>
    </div>
    <div class="support-detail">
        <div style="padding: 20px 24px 0 24px;">
            <a href="ymsgr:sendim?devi05thanh@yahoo.com.sg&amp;m=Hello."><img src="/Images/yahoo.jpg" /></a>
            <a href="skype:devi05thanh?chat"><img src="/Images/skype1.png" /></a>
        </div>
        <div class="clear"></div>
        <div style="height: 50px;">
            <p> Mr: Vương: 01234567890 </p>
            <p> Email: baongoc@baongocakito.com </p>
        </div>
    </div>
    <div class="support-detail">
        <div style="padding: 25px 24px 0 24px;">
            <a href="ymsgr:sendim?devi05thanh@yahoo.com.sg&amp;m=Hello."><img src="/Images/yahoo.jpg" /></a>
            <a href="skype:devi05thanh?chat"><img src="/Images/yahoo.jpg" /></a>
        </div>
        <div class="clear"></div>
        <div style="height: 50px;">
            <p> Mr: Vương: 01234567890 </p>
            <p> Email: baongoc@baongocakito.com </p>
        </div>
    </div>
</div>