@model IEnumerable<WebModule>

@{
    var root = from x in Model where x.Status == (int)Status.Public select x;
}


<section id="categories_block_left" class="column_box block">
    <h4><span>Sản phẩm</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
    <ul class="toggle_content tree dhtml">
@foreach (var node in root)
{
    var url = node.URL;

        if (string.IsNullOrEmpty(node.URL) || string.IsNullOrWhiteSpace(node.URL))
        {
            url = Url.Action("Index", "Home", new { metatitle = node.MetaTitle != null ? node.MetaTitle : "web", id = node.ID });
        }
        <li>
            <a href="@url" title="@node.Title"><i class="icon-caret-right"></i>@node.Title</a>
        </li>
}
    </ul>
</section>

