@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    ViewBag.Title = "_OtherNews";
    Layout = "";
}

<hr class="style-three2" />
<div class="other-news">
    <h3>Bài liên quan</h3>
    <ul class="other-news">
        @foreach (var item in Model)
        {
            var img = item.Image != null ? item.Image : "/images/no-image.jpg";
            var url = Url.Action("Detail", "Home", new
            {
                metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                id = item.ID,
                m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
                m_id = webmodule.ID,
                area = ""
            });
            <li>
                <a href="@url" title="@item.Title">
                    <h2>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        @item.Title
                    </h2>
                </a>

            </li>
        }
    </ul>
</div>
