
<div class="dropdown">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        @ViewBag.Displayname
    <img src="@ViewBag.Avatar" style="max-height:26px;" alt="">
</a>
<ul class="dropdown-menu pull-right">
    <li>
        <a href="/admin/account/userprofile">@Resources.Common.Userprofile</a>
    </li>
    <li>
        <a href="/admin/account/logout">Sign out</a>
    </li>
</ul>
</div>
