@model WebModels.RegisterModel
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!-- Modal -->
<div class="modal" id="forgotPasswordModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="">

                    <div class="">
                        @*<div class="content-top-agile">
                                <h2><img src="/Content/themes/admin/images/logo-company.png" style="width:75%" alt=""></h2>
                            </div>*@

                        <div class="bg-white content-bottom">
                            @using (Ajax.BeginForm("ForgotPassword", "Account", new { HttpMethod = "POST", area = "Admin" },
                                        new AjaxOptions
                                        {
                                            OnSuccess = "onSuccess(data)",
                                            OnFailure = "onFailure"
                                        }, new { id = "forgot-password" }))
                            {
                                <script>
                                    function onSuccess(data) {
                                        if (data.Success) {
                                            $('#forgot-password')[0].reset();
                                            alert("Mật khẩu mới đã được gửi đến email của bạn. Vui lòng kiểm tra hộp thư đến hoặc thư mục Spam. Xin cám ơn!");
                                            window.location.href = "/";
                                        } else {
                                            alert("Thao tác không thành công! Email không tồn tại trong hệ thống");
                                        }
                                    }

                                    function OnFailure() {
                                        alert("Fail");
                                    }</script>
                                @Html.AntiForgeryToken()


                                <div class="login-content">
                                    <div class="form-group form-login">
                                        <div class="input-div-login one">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div email flex">
                                                <h5>Email</h5>
                                                @Html.TextBoxFor(m => m.UserProfile.Email, new { @class = "input-forgot-password"})
                                            </div>

                                            @Html.ValidationSummary(true)
                                        </div>
                                        @Html.ValidationMessageFor(m => m.UserProfile.Email)
                                    </div>
                                </div>
                                <div class="forgot-password-box">
                                    <div class="text-center div-forgot-password">
                                        <button type="submit" class="btn btn-primary cursorsHover">Khôi phục mật khẩu</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .fade.active {
        opacity: 1;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-backdrop .fade .in {
        opacity: 0.5 !important;
    }

    .modal-backdrop.fade {
        opacity: 0.5 !important;
    }

    .fade {
        transition: none;
    }

    .modal-backdrop.in {
        opacity: 0.5;
    }
</style>
@*<script>
        $(window).on('load', () => {
            $("forgotPasswordModal").modal('show');
        });
    </script>*@
