@{
    ViewBag.Title = "CORE V4.01 -  Access Denied";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

 <div>
    <h1>ACCESS DENIED!</h1>
    <h2>Bạn không có quyền truy cập</h2>
</div>