@model WebModels.LogSystem
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="container-fluid">
    <div>
       @Model.Information
    </div>
</div>
<script type="text/javascript">
    top.winsetup("chi tiết log hệ thống", 621, 330, true);
</script>
