@{
    ViewBag.Title = "Log hệ thống";
}
@{
    WebContext db = new WebContext();
    var roles = Roles.GetRolesForUser();
    var userRoleIds = db.WebRoles.Where(x => roles.Contains(x.RoleName)).Select(y => y.RoleId).ToList();
    var roleWebModule = db.AccessWebModuleRoles.AsNoTracking().FirstOrDefault(x => userRoleIds.Contains(x.RoleId) && x.WebModule.URL == "/admin/LogSystem");
}
<div id="main">
    <div id="left"></div>
    @if (roleWebModule != null && roleWebModule.View.HasValue && !roleWebModule.View.Value)
    {
        @Html.Action("Denied", "Account", new { area = "admin" })
    }
    @if (roleWebModule != null && roleWebModule.View.HasValue && roleWebModule.View.Value)
    {
        <div class="container-fluid">
            <div class="page-header" style="padding-bottom:20px">
                <div class="pull-left">
                    <div class="breadcrumbs">
                        <h1>@ViewBag.title</h1>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-content nopadding">
                            @(Html.Kendo().Grid<LogSystemViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.CreatedAt).Title(WebModels.WebResources.ModifiedDate)
                                .Filterable(filterable =>filterable.UI(@<text>function (element) {
                                                element.kendoDatePicker({
                                                    culture: 'vi-VN'
                                                });
                                            }</text>))
                                .Format("{0:dd/MM/yyyy HH:mm}").HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.UserName).Title(WebModels.WebResources.UserName).HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.DataTable).Title(WebModels.WebResources.DataTable).HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.FunctionName).Title(WebModels.WebResources.FunctionName).HtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.ActiveType).Title(WebModels.WebResources.ActiveType).HtmlAttributes(new { style = "text-align:center;" });
                                columns.Command(command => command.Custom("detail").Click("showdetail")).Title(WebModels.WebResources.DetailNote).HtmlAttributes(new { @class = "view-detail" });
                            })
                           .Pageable()
                            .Selectable(select => select.Mode(GridSelectionMode.Multiple))
                            .Sortable()
                                .Filterable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Sort(sort => sort.Add("CreatedAt").Descending())
                                .Batch(true)
                                .PageSize(10)
                                .Read(read => read.Action("LogSystem_Read", "LogSystem"))
                             )
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .k-webkit {
        overflow: auto !important;
    }
</style>
<script type="text/javascript">
    var rowselected = [];
    function change_handler(e) {
        rowselected = [];
        var len = this.select().length;
        for (i = 0; i < len; i++) {
            rowselected.push(this.dataItem(this.select()[i]).ID);
        }
    }
    function binding_handler(e) {
        rowselected = [];
    }
    function showdetail(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/LogSystem/Detail/" + dataItem.ID);
    }
</script>
