@{
    Layout = null;
}
<script type="text/javascript">
    var addthis_share = {
        url: "@TempData["URL"]",
        title: "@TempData["Title"]",
        description: "@TempData["Description"]",
        media: "@TempData["Images"]"
    }

    function printPage() {
        var documentContainer = document.getElementById('divPrint');
        var mywindow = window.open("", "printFrame");
        mywindow.document.write('<html><head><style>@@page{size: auto; margin: 5mm 10mm;}table,table>tbody>tr>td{border-collapse:collapse;}p{margin:5;}table{page-break-inside:auto}tr{page-break-inside:avoid; page-break-after:auto; }.header{display:block;position:fixed;top:0px;font-weight:bold;font-size:14px;text-align:right;right:0px;}.footer{z-index:1;position:fixed;left:0;bottom:0;text-align:left;left:0;width:100%;display:block;}.printHidden{display:none;} </style></head>');
        mywindow.document.write('<body style="background:#ffffff; margin: 0;">' + documentContainer.innerHTML + ' </div></body></html>');
        mywindow.print();

        $("#printFrame").contents().find("body").html('');
        var frmPreView = document.querySelector('#divPrint');
        frmPreView.html("");
    }
</script>
<!-- AddThis Button BEGIN -->

<div class="socical">
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-bottom: 10px; float: right;">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_gmail"></a>
        <span style="background: #748A8D;
                        padding: 9px;
                        margin-left: 3px; cursor: pointer;" onclick="printPage()">
            <i class="fa fa-print fa-lg" style="color: #fff;" aria-hidden="true"></i>
        </span>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a3938b24d10b686"></script>

    <!-- AddThis Button END -->
    <div class="clearfix"></div>
</div>
