@model IEnumerable<WebContentUpload>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<link href="~/Content/themes/admin/css/plugins/plupload/jquery.plupload.queue.css" rel="stylesheet" />
<script src="~/Content/themes/admin/js/plugins/plupload/plupload.full.js"></script>
<script src="~/Content/themes/admin/js/plugins/plupload/jquery.plupload.queue.js"></script>
<script>
    $(document).ready(function () {
        try { var cleft = $('#left').text().killWhiteSpace().length; if (cleft == 0) { $("#left").toggle().toggleClass("forced-hide"); if ($("#left").is(":visible")) { $("#main").css("margin-left", $("#left").width()); } else { $("#main").css("margin-left", 0); } } } catch (e) { $("#left").toggle().toggleClass("forced-hide"); if ($("#left").is(":visible")) { $("#main").css("margin-left", $("#left").width()); } else { $("#main").css("margin-left", 0); } }
    })
</script>
<style>
    a:hover {
        text-decoration: none !important;
    }

    .box .box-title {
        margin-top: 0 !important;
    }

    #filelist input {
        padding: 1px !important;
    }

    #uploadcontainer {
        margin: 0px 2px;
    }

        #uploadcontainer .view {
            position: absolute;
            right: 1px;
            bottom: 1px;
        }

    .table th, .table td {
        padding: 4px !important;
    }

    .tablefile .noborder {
        border: 1px dotted #ccc;
        width: 99%;
        padding: 1px;
        margin: 0px;
    }
</style>
<div id="main">
    <div class="page-header">
        <div class="pull-left">
            <div class="breadcrumbs">
                <ul>
                    <li class="home">
                        <a title="Go to Root" class="glyphicon-home" href="/"> </a>
                        <i class="icon-angle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <ul class="actions">     
                <li>
                    <a id="pickfiles" href="javascript:void(0);" class="btn btn-mini btn-danger" style="width:96px;">
                        <div style=" width:96px;left:0;position:absolute">
                            <span style="vertical-align:middle">
                                <i class="icon-cloud-upload" style="cursor:default !important;vertical-align:middle"></i> Chọn tệp
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div id="uploadcontainer">
                    <div id="filelist">Trình duyệt cần hỗ trợ một trong các phương thức sau: gears,html5,flash,silverlight,browserplus.</div>
                    <a id="uploadfiles" class="btn btn-mini" href="#"><i class="glyphicon-upload"></i> [Tải lên]</a>
                    @*<div class="view">
                        <a href="javascript:void(0)" onclick="changeview('list')" class="glyphicon-show_thumbnails_with_lines"></a>
                        <a href="javascript:void(0)" onclick="changeview('grid')" class="glyphicon-show_thumbnails"></a>
                    </div>*@
                    <hr style="margin:2px;" />
                </div>
                <div class="box-content  nopadding" id="datacontent">
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var view = "list";
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);
        return (match && match.length > 1) ? match[1] : '';
    }
    var uploader;
    $(function () {
        uploader = new plupload.Uploader({
            runtimes: 'gears,html5,flash,silverlight,browserplus',
            browse_button: 'pickfiles',
            container: 'uploadcontainer',
            max_file_size: '99mb',
            url: '/admin/upload/uploadflash?uid=@ViewBag.UID',
            flash_swf_url: '/Content/themes/admin/js/plugins/plupload/plupload.flash.swf',
            silverlight_xap_url: '/Content/themes/admin/js/plugins/plupload/plupload.silverlight.xap',
            filters: [
               { title: "Flash files", extensions: "swf" }
            ] 
        });
        uploader.bind('Init', function (up, params) {
            $('#filelist').html("<div><i>Bạn đang sử dụng  <b>" + params.runtime + " </b> để tải file.</i></div>");
        }
        );
        $('#uploadfiles').click(function (e) {
            uploader.start();
            e.preventDefault();
        });
        uploader.init();
        uploader.bind('BeforeUpload', function (up, file) {
            up.settings.multipart_params = { title: $("#i_" + file.id).val() };
        });
        uploader.bind('FilesAdded', function (up, files) {
            $.each(files, function (i, file) {
                $('#filelist').append(
                    ' <div class="pic-item" id="' + file.id + '"><input type="text" value="' + GetFileName(file.name) + '" id="i_' + file.id + '"  />' +
                    '<span>' + file.name + '</span>' + ' (' + plupload.formatSize(file.size) + ') <b></b> <a class="glyphicon-delete" onclick="javascript:clearpic(this);" href="javascript:void(0)"></a> ' +
                '</div>');
            });
            up.refresh();
        });
        uploader.bind('UploadProgress', function (up, file) {
            $('#' + file.id + " b").html(file.percent + "%");
        });
        uploader.bind('Error', function (up, err) {
            $('#filelist').append("<div>Error: " + err.code +
                ", Message: " + err.message +
                (err.file ? ", File: " + err.file.name : "") +
                "  <a class='glyphicon-delete' onclick='javascript:clearerror(this);' href='javascript:void(0)'></a></div>"
            );
            up.refresh();
        });
        uploader.bind('FileUploaded', function (up, file, res) {
            if (jQuery.parseJSON(res.response).success) {
                $('#' + file.id + " b").html("100%"); $('#' + file.id).fadeOut(3000);
                LoadPic();
            } else {
                alert(jQuery.parseJSON(res.response).data);
            }

        });

    });
    function clearerror(obj) {
        $(obj).parent().remove();
    }
    function clearpic(obj) {
        var picselected = $(obj).parent().attr("id");
        uploader.removeFile(uploader.getFile(picselected));
        $('#' + picselected).fadeOut(100); $('#' + picselected).remove();
    }
    function GetFileName(input) {
        var dot = input.lastIndexOf('.');
        return input.substr(0, dot);
    }

    var listtemp = "";
    listtemp += "<table class=\"table table-hover tablefile\" style=\"margin:0px;\"> ";
    listtemp += "   <thead>";
    listtemp += "       <tr>";
    listtemp += "           <th style=\"width:24px;\">&nbsp;</th>";
    listtemp += "           <th>Title</th>";
    listtemp += "           <th style=\"width:30px;\">&nbsp;</th>";
    listtemp += "           <th style=\"width:100px;\">Mime</th>";
    listtemp += "           <th style=\"width:80px;\">Size</th>";
    listtemp += "           <th style=\"width:60px;\">&nbsp;</th>";
    listtemp += "       </tr>";
    listtemp += "   </thead> ";
    listtemp += "   <tbody>{data}</tbody>";
    listtemp += "</table>";

    function LoadPic() {
        var url = null;
        url = '/admin/upload/jflash?uid=@ViewBag.UID';
        var html = "";
        var temp = "";
        if (view == "list") {
            temp += "<tr>";
            temp += "   <td><a target=\"_blank\" href=\"{fullpath}\" class='icon-file-{ext}'></a></td>";
            temp += "   <td><input type=\"text\" class=\"noborder\" value=\"{title}\" /></td>";
            temp += "   <td><a href=\"javascript:void(0)\" class=\"icon-save\" onclick=\"update({id},this)\" ></a> </td>";
            temp += "   <td >{mime}</td>";
            temp += "   <td >{size}</td>";
            temp += "   <td>";
            temp += "       <a class=\"icon-circle-arrow-down\" href=\"javascript:void(0)\"  onclick=\"ChooseFile('{fullpath}')\" ></a> ";

            temp += "       <a href=\"{fullpath}\" class='icon-download-alt'   target=\"_blank\">  </a> ";
            
            temp += "       <a class=\"icon-remove\" href=\"javascript:void(0)\" onclick=\"deleteFile({id})\" ></a>";
            temp += "   </td>";
            temp += "</tr>";

            $.getJSON(url).done(function (response) {

                $.each(JSON.parse(response.Json), function (i, element) {
                    var ext = element.Extension.substr(1);
                    var temphtml = temp;
                    html += temphtml.replace(/{ext}/g, ext).replace(/{fullpath}/g, element.FullPath).replace(/{id}/g, element.ID).replace(/{title}/g, element.Title).replace(/{mime}/g, element.MimeType).replace(/{size}/g, element.Size)
                });
                html = listtemp.replace("{data}", html);
                $('#datacontent').html(html);
                $('a.cboxElement').colorbox();
            });
        }
    }






    function ChooseFile(fullPath) {
        var funcNum = getUrlParam('CKEditorFuncNum');
        var func = getUrlParam('func');
        if (funcNum != '')
            window.opener.CKEDITOR.tools.callFunction(funcNum, fullPath);
        else if (func != '') {
            setTimeout("window.opener." + func + "('" + fullPath + "')", 0);
        }
        window.close();
    }



    function deleteFile(id) {
        if (confirm('Bạn có chắc chắn muốn xóa ảnh vừa chọn không?')) {
            $.ajax({
                async: false,
                type: 'POST',
                cache: false,
                url: '@Url.Action("Delete", "Upload")/' + id,
                success: function (data) {
                    if (data.success) {
                        LoadPic();
                    }
                }
            });
        }
    }

    function update(id, obj) {
        $.post(
            '/admin/upload/updatetitle',
            { id: id, title: $(obj).parent().prev().find('input').val() },
            function (data) {
                if (data.success) {
                    alert("Cập nhật tên tệp thành công.");
                } else {
                    alert("Có lỗi khi cập nhật tên tệp.");
                }
            }
        );
    }
    function changeview(v) {
        view = v;
        LoadPic();
    }
    LoadPic();
</script>
