@model List<string>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
    var link = "";
}
@if (Model != null)
{
    link = Model.First();
}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-content">
                @using (Html.BeginForm("ImageLink", "Upload", new { UID = ViewBag.UID, ID = ViewBag.ID, func = ViewBag.func }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fix" }))
                {
                    <input name="func" id="func" type="hidden" /> 
                    <div class="control-group">
                        @Html.Label("", "Link ảnh", new { @class = "control-label" })
                        <div class="controls">
                            <input id="link" name="link" class="input-block-level" value="@link" type="text" />
                        </div>
                    </div>
                    <div class="validation-group">
                        <div class="controls">@Html.ValidationSummary(true)</div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Tải ảnh</button>
                        <button class="btn btn-primary" onclick="select()" type="button"> Chọn </button>
                    </div>
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);
        return (match && match.length > 1) ? match[1] : '';
    }       
    function select() {
        var func = getUrlParam('func');
        var fullPath = $('#link').val();
        setTimeout("window.opener." + func + "('" + fullPath + "')", 0);
        window.close();
    }
</script>