 

@{
   
}
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <div class="breadcrumbs"></div>
            </div>
            <div class="pull-right"> 
                <ul class="actions">
                    <li>
						<a href="#" id="btnadd" class="btn btn-mini  btn-blue btn-inverse"><i class="icon-plus"></i> @Resources.Common.Add  </a>
					</li>
                    <li>
						<a href="#" id="btnedit" class="btn btn-mini   btn-blue btn-inverse"><i class="icon-edit"></i> @Resources.Common.Edit  </a>
					</li>
					<li >
						<a href="#" id="btndelete" class="btn btn-mini  btn-red btn-inverse"><i class="icon-trash"></i> @Resources.Common.Delete  </a>
					</li> 
				</ul> 
            </div>
        </div>

         
         <div class="row-fluid">
			<div class="span12">
				<div class="box"> 
					<div class="box-content nopadding">  
                        @(Html.Kendo().Grid<Object>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound("ID").Title(Resources.Common.ID).Width(50);
                                columns.Bound("Title").Title(Resources.Common.Title);
                                columns.Bound("Link").Title(Resources.Common.Link); 
                                columns.Bound("Culture").Title(Resources.Common.Language).Width(50);
                                columns.Command(command =>
                                {
                                    command.Custom(Resources.Common.Edit).Click("edit_handler");
                                    command.Custom(Resources.Common.Delete).Click("delete_handler");
                                }).Width(160).HtmlAttributes(new { style = "text-align:center;" });
                            })
                            .Selectable(select => select.Mode(Kendo.Mvc.UI.GridSelectionMode.Multiple))
                            .Sortable().Filterable().Groupable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model => model.Id("ID"))
                                                        .Read(read => read.Action("WebLink_Read", "WebLink")).Group(x => x.Add("Culture", typeof(string)))
                             )
                             .Events(events => events.Change("change_handler").DataBinding("binding_handler"))
)
					</div>
				</div>
			</div>
		</div>

    </div>
</div>
                                              
<script type="text/javascript">
  
    function delete_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/webLink/delete/" + dataItem.ID);
        
    }
    function edit_handler(e) {
        e.preventDefault(); 
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/webLink/edit/"+dataItem.ID);
       
    } 
    var rowselected = [];
    function change_handler(e) {
        rowselected = [];
        var len = this.select().length;
        for (i = 0; i < len; i++) {
            rowselected.push(this.dataItem(this.select()[i]).ID);
        }
    }
    function binding_handler(e) {
        rowselected = []; 
    }
    $(document).ready(function () {
        $("#btnadd").click(function () {
            opendlg("/admin/webLink/add/");
           
        });

         $("#btnedit").click(function () {
             if (rowselected.length > 0) {
                 opendlg("/admin/webLink/edit/" + rowselected[0]);   
             } else {
                 alert("Không có khoản mục nào được chọn.");
             } 
         });

         $("#btndelete").click(function () {
             if (rowselected.length > 0) {
                 opendlg("/admin/webLink/deletes/" + rowselected);  
             } else {
                 alert("Không có khoản mục nào được chọn.");
             }
         });
        $("#btnrefresh").click(function () {
            $("#grid").data("kendoGrid").dataSource.read();
        });
     });
</script>
