 

/*CSS FOR FAQ*/

.publish-faq .faq-title {
    background: #a4d4e6;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0px 5px;
}

    .publish-faq .faq-title h3 {
        margin: 0px;
        padding: 0px;
    }

.publish-faq .faq-createddate {
    font-size: 11px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

.publish-faq .faq-content {
    background: #fff;
    padding: 10px;
}

.publish-faq .active {
    background: #e80c4d;
    color: #fff;
}

    .publish-faq .active h3 {
        color: #fff;
    }


/*CSS FOR LIST NEWS*/

.list-view .item {
    padding-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px dashed #999;
}

    .list-view .item:last-child {
        border: none;
    }

    .list-view .item .item-imagebox {
        width: 150px;
        margin-right: 10px;
        background: #fff;
        border: 1px solid #c8c8c8;
        overflow: hidden;
        height: 150px;
        float: left;
    }

        .list-view .item .item-imagebox a {
            padding: 0;
            display: block;
            height: 150px;
            position: relative;
        }

            .list-view .item .item-imagebox a .image-hover {
                width: 146px;
                height: 146px;
                background: rgba(0, 0, 0, 0.61);
                position: absolute;
                top: 0;
                opacity: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                border: 2px solid #fff;
            }

            .list-view .item .item-imagebox a:hover .image-hover {
                opacity: 1;
            }

            .list-view .item .item-imagebox a:hover img {
                zoom: 110%;
                width: 146px;
                -webkit-transform: rotateZ(-5deg);
                margin-top: -5px;
                margin-left: -4px;
            }

        .list-view .item .item-imagebox img {
            width: 146px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            zoom: 100%;
            margin: 2px;
        }

    .list-view .item .item-review {
        min-height: 150px;
    }

        .list-view .item .item-review h3 {
            margin-top: 0px;
            font-weight: normal;
        }

            .list-view .item .item-review h3 a {
                text-decoration: none;
                color: #333;
                text-transform: uppercase;
            }

        .list-view .item .item-review p {
            font-size: 12px;
        }

/*CSS FOR GRID NEWS*/

.grid-view .item {
    padding-bottom: 5px;   
    border-bottom: 1px dashed #999;
    width:220px;
    float:left;
    margin:15px 10px 0px; 
}
    .grid-view .item .item-imagebox {
        width: 220px;
        margin-right: 10px;
        background: #fff;
        border: 1px solid #c8c8c8;
        overflow: hidden;
        height: 150px;       
    }

        .grid-view .item .item-imagebox a {
            padding: 0;
            display: block;
            height: 150px;
            position: relative;
        }

            .grid-view .item .item-imagebox a .image-hover {
                width: 216px;
                height: 146px;
                background: rgba(0, 0, 0, 0.61);
                position: absolute;
                top: 0;
                opacity: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                border: 2px solid #fff;
            }

            .grid-view .item .item-imagebox a:hover .image-hover {
                opacity: 1;
            }

            .grid-view .item .item-imagebox a:hover img {
                zoom: 110%;
                width: 200px;
                -webkit-transform: rotateZ(-5deg);
                margin-top: -5px;
                margin-left: -4px;
            }

        .grid-view .item .item-imagebox img {
            width: 216px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            zoom: 100%;
            margin: 2px;
        }

    .grid-view .item .item-review {
        height: 60px;
        overflow:hidden;
    }

        .grid-view .item .item-review h3 {
            margin-top: 0px;
            font-weight: normal;
        }

            .grid-view .item .item-review h3 a {
                text-decoration: none;
                color: #333;
                text-transform: uppercase;
                font-size:14px;
            }

        .grid-view .item .item-review p {
            font-size: 12px;
        }